<a href="https://colab.research.google.com/github/Pavan-Gandham/ML-AI/blob/master/MLPredictionHutlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Convert numpy array into pandas series and concat then both the coloums should be in data type then only the conversion will happen

In [ ]:
import datetime
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
import sklearn.metrics as metrics
from sklearn.compose import TransformedTargetRegressor
from sklearn.preprocessing import QuantileTransformer

In [ ]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBClassifier
# from catboost import CatBoostRegressor

In [ ]:
Traindata = pd.read_csv("/content/sample_data/california_housing_train.csv")
Testdata = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
traindf = pd.DataFrame(Traindata)
testdf = pd.DataFrame(Testdata)
#df = df.drop(['Avg. Area Income'], axis=1)

In [ ]:
traindf.isnull().sum().sort_values(ascending=False)/traindf.shape[0] #Check wheather the dataset is having null values

longitude             0.0
latitude              0.0
housing_median_age    0.0
total_rooms           0.0
total_bedrooms        0.0
population            0.0
households            0.0
median_income         0.0
median_house_value    0.0
dtype: float64

In [ ]:
testdf.isnull().sum().sort_values(ascending=False)/testdf.shape[0] #Check wheather the dataset is having null values

longitude             0.0
latitude              0.0
housing_median_age    0.0
total_rooms           0.0
total_bedrooms        0.0
population            0.0
households            0.0
median_income         0.0
median_house_value    0.0
dtype: float64

In [ ]:
MinMax = MinMaxScaler()
traindf = pd.DataFrame(MinMax.fit_transform(traindf), columns=traindf.columns)
testdf = pd.DataFrame(MinMax.fit_transform(testdf), columns=testdf.columns)

In [ ]:
traindf.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,1.000000,0.175345,0.274510,0.147885,0.198945,0.028364,0.077454,0.068530,0.107012
1,0.984064,0.197662,0.352941,0.201608,0.294848,0.031559,0.075974,0.091040,0.134228
2,0.975100,0.122210,0.313725,0.018927,0.026847,0.009249,0.019076,0.079378,0.145775
3,0.974104,0.116897,0.254902,0.039515,0.052142,0.014350,0.037000,0.185639,0.120414
4,0.974104,0.109458,0.372549,0.038276,0.050435,0.017405,0.042921,0.098281,0.104125

In [ ]:
for col in traindf.columns:
    if 'Unnamed' in col:
        del traindf[col]
for col in traindf.columns:
    if 'Unnamed' in col:
        del traindf[col]

In [ ]:
traindf.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,1.000000,0.175345,0.274510,0.147885,0.198945,0.028364,0.077454,0.068530,0.107012
1,0.984064,0.197662,0.352941,0.201608,0.294848,0.031559,0.075974,0.091040,0.134228
2,0.975100,0.122210,0.313725,0.018927,0.026847,0.009249,0.019076,0.079378,0.145775
3,0.974104,0.116897,0.254902,0.039515,0.052142,0.014350,0.037000,0.185639,0.120414
4,0.974104,0.109458,0.372549,0.038276,0.050435,0.017405,0.042921,0.098281,0.104125

In [ ]:
traindf.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
trainx= traindf.values[:,0:7]
trainy=  traindf.values[:,7]
trainy=np.reshape(trainy, (-1,1))
print(trainx.shape)
print(trainy.shape)
testx= testdf.values[:,0:7]
testy=  testdf.values[:,7]
testy=np.reshape(testy, (-1,1))
print(testx.shape)
print(testy.shape)

(17000, 7)
(17000, 1)
(3000, 7)
(3000, 1)

In [ ]:
#x_train,x_test,y_train,y_test=train_test_split(X,Y)
x_train=trainx
y_train=trainy
x_test=testx
y_test=testy

In [ ]:
linreg = LinearRegression()
linreg.fit(x_train,y_train)
linreg_predict=linreg.predict(x_test)
linreg_predict=linreg_predict.reshape(-1)
linreg_predict.shape

(3000,)

In [ ]:
linreg_series = pd.Series(linreg_predict)

In [ ]:
# xnew=np.array([[80000,8,6,7]])
# ynew= linreg.predict(xnew)
# print("X=%s, Predicted=%s" % (xnew[0], ynew[0]))

In [ ]:
#oob_score = True, n_jobs = 1,random_state =50,max_features = "auto", min_samples_leaf =50
ranfor = RandomForestRegressor()
# ttr = TransformedTargetRegressor(regressor=ranfor, transformer=QuantileTransformer(output_distribution='normal'))
ranfor.fit(x_train,y_train.ravel()) #ravel will flatten the array
ranfor_predict=ranfor.predict(x_test)
ranfor_predict.reshape(-1)
ranfor_predict.shape

(3000,)

In [ ]:
xgb = XGBClassifier()
# ttr = TransformedTargetRegressor(regressor=ranfor, transformer=QuantileTransformer(output_distribution='normal'))
xgb.fit(x_train,y_train.ravel()) #ravel will flatten the array
ranfor_predict=xgb.predict(x_test)
ranfor_predict.reshape(-1)
ranfor_predict.shape

In [ ]:
ranfor_series=pd.Series(ranfor_predict)
ranfor_series

0       0.385755
1       0.173539
2       0.491262
3       0.303276
4       0.173945
          ...
2995    0.099958
2996    0.234796
2997    0.147721
2998    0.301574
2999    0.413633
Length: 3000, dtype: float64

In [ ]:
# xnew=np.array([[80000,8,6,7]])
# ynew= ranfor.predict(xnew)
# print("X=%s, Predicted=%s" % (xnew[0], ynew[0]))

In [ ]:
linreg.score(x_train,y_train)

0.4246521016588888

In [ ]:
#ranfor.score(x_train,y_train)

In [ ]:
x=[]
for i in y_test:
  x.append(i)
x=pd.Series(x)

In [ ]:
linreg_final = pd.concat({"Actual" : x,"Predicted": linreg_series}, axis=1,join='outer')
linreg_final

                     Actual  Predicted
0      [0.4212769479041669]   0.254809
1     [0.21372808650915165]   0.170327
2     [0.36506393015268757]   0.269244
3     [0.38868429400973786]   0.268331
4      [0.1681080260961918]   0.155660
...                     ...        ...
2995  [0.04683383677466518]   0.053995
2996   [0.1993558709535041]  -0.041303
2997  [0.12341898732431276]   0.177224
2998  [0.19109391594598696]   0.184497
2999   [0.5559164701176537]   0.291100

[3000 rows x 2 columns]

In [ ]:
ranfor_final = pd.concat({"Actual" : x,"Predicted": ranfor_series}, axis=1,join='outer')
ranfor_final

                     Actual  Predicted
0      [0.4212769479041669]   0.385755
1     [0.21372808650915165]   0.173539
2     [0.36506393015268757]   0.491262
3     [0.38868429400973786]   0.303276
4      [0.1681080260961918]   0.173945
...                     ...        ...
2995  [0.04683383677466518]   0.099958
2996   [0.1993558709535041]   0.234796
2997  [0.12341898732431276]   0.147721
2998  [0.19109391594598696]   0.301574
2999   [0.5559164701176537]   0.413633

[3000 rows x 2 columns]

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, ranfor_series))
MAE = metrics.mean_absolute_error(y_test, ranfor_series)
print('Mean Squared Error:', metrics.mean_squared_error(y_test, ranfor_series))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test,ranfor_series)))
print(MAE*100)

Mean Absolute Error: 0.052371974777359394
Mean Squared Error: 0.005133261736282637
Root Mean Squared Error: 0.07164678454950116
5.23719747773594

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, linreg_series))
MAE = metrics.mean_absolute_error(y_test, linreg_series)
print('Mean Squared Error:', metrics.mean_squared_error(y_test, linreg_series))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test,linreg_series)))
print(MAE*100)

Mean Absolute Error: 0.10914085598983324
Mean Squared Error: 0.02242053823551439
Root Mean Squared Error: 0.14973489317962727
10.914085598983323

In [ ]:
models = [
    ("Linear Regression", LinearRegression()),
    ("Ridge", Ridge()),
    ("Lasso", Lasso()),
    ('KNN', KNeighborsRegressor()),
    ('CART', DecisionTreeRegressor()),
    ('RF', RandomForestRegressor()),
    ('GBM', GradientBoostingRegressor()),
    ("XGBoost", XGBRegressor()),
    ("randomForest", RandomForestRegressor())
    # ("CatBoost", CatBoostRegressor(verbose=False))
]

In [ ]:
results = pd.DataFrame()
results.index = [models[i][0] for i in range(len(models))]
results["rmse_train"] = 0.0
results["rmse_test"] = 0.0
# results["r2_score_train"] = 0.0
# results["r2_score_test"] = 0.0
results["mae_train"]=0.0
results["mae_test"]=0.0

In [ ]:
for (name, regressor) in models:

    regressor.fit(x_train, y_train)

    results.loc[name]["rmse_train"] = round(np.mean(np.sqrt(-cross_val_score(regressor, x_train, y_train, cv=10, scoring="neg_mean_squared_error", verbose=0))), 4)
    results.loc[name]["rmse_test"] = round(metrics.mean_squared_error(y_test, regressor.predict(x_test), squared=False), 4)
    # results.loc[name]["r2_score_train"] = round(np.mean(cross_val_score(regressor, x_train, y_train, cv=10, scoring="r2", verbose=0)), 4) * 100
    # results.loc[name]["r2_score_test"] = round(metrics.r2_score(y_test, regressor.predict(x_test),), 4)
    results.loc[name]["mae_train"] = round(metrics.mean_absolute_error(y_train,regressor.predict(x_train)), 4)*100
    results.loc[name]["mae_test"] = round(metrics.mean_absolute_error(y_test,regressor.predict(x_test)), 4)*100


results.sort_values(by="mae_test", ascending=True, inplace =True)
results

<ipython-input-67-fe39bb85c622>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train, y_train)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
<ipython-input-67-fe39bb85c622>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train, y_train)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

                   rmse_train  rmse_test  mae_train  mae_test
XGBoost                0.0736     0.0642       2.72      4.50
GBM                    0.0823     0.0726       4.64      5.02
randomForest           0.0765     0.0715       1.73      5.24
RF                     0.0764     0.0714       1.73      5.26
CART                   0.1101     0.0990       0.00      7.12
KNN                    0.1136     0.1059       5.11      7.49
Ridge                  0.1036     0.1180       6.97      8.39
Lasso                  0.1313     0.1280       9.73      9.48
Linear Regression      0.1022     0.1497       6.83     10.91